@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}

:root{
  --primary-backgroundColor: #151e26;
  --primary-font: 'Roboto', sans-serif;
  --primary-fontColor: white;
  --primary-descriptionColor: rgba(255, 255, 255, 0.603);
}

body{
  background-color: var(--primary-backgroundColor);
  font-family: var(--primary-font);
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  background-color: var(--primary-backgroundColor);
  /* height: 100vh; */
  max-width: 600px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}